doctype html
html(lang="en")
    head
        include partials/header
    body 
        header.barra 
            h1 UpTask - Administrador de proyectos #{year}
            a(href="/cerrar-sesion") Cerrar sesión 

        main.contenedor 
            aside(class="contenedor-proyectos")
                .panel.crear-proyecto 
                    a(href="/nuevo-proyecto" class="boton") Nuevo proyecto
                        span +

                .panel.lista-proyectos 
                    h2 Proyectos
                    ul#proyectos.proyectos 
                        if(allProjects.length)
                            each project in allProjects
                                li
                                    a(href=`/projects/${project.url}`)= project.nombre
                    
            block contenido

            //- pre= varDump(allProjects)
        script(src="/dist/bundle.js")