doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Nueva contraseña
            
            form.caja-login(method="POST")
                .campo 
                    label(for="password") Contraseña
                    input(type="password" name="password" placeholder="Nueva contraseña")
                .campo.enviar
                    input.boton(type="submit" value="Restablecer contraseña")
                .campo.acciones 
                    a(href="/iniciar-sesion") Iniciar sesión