extends layout

include mixins/createProject

block contenido 
    .contenido-principal 
        h1 #{nombrePagina}

        //-pre= varDump(project)

        if errores
            each error in errores 
                .alerta(class="error")= error.texto
        +createProject(project)
            