doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Agrega tu correo electr칩nico para restablecer contrase침a
            
            if locals.messages
                .alertas 
                    each categories in Object.keys(locals.messages)
                        each error in messages[categories]
                            .alerta(class=`${categories}`)
                                p= error
            form.caja-login(method="POST" action="/restablecer")
                .campo 
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Tu correo" value= email )
                .campo.enviar
                    input.boton(type="submit" value="Restablecer contrase침a")
                .campo.acciones 
                    a(href="/iniciar-sesion") Iniciar sesi칩n