extends layout

block contenido 
    .contenido-principal 
        h1 #{nombrePagina} - #{project.nombre}


        pre= varDump(project)

        .contenedor-acciones 
            a(href=`/project/edit/${project.id}` class="boton") Editar proyecto 
            button#eliminar-proyecto(type="button" class="boton eliminar") Eliminar proyecto