doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restablecer contraseña
        p Click en el siguiente enlace para restablecer contraseña. Este enlace es temporal 
        a(href=`${resetUrl}`) Ir a enlace
        p Si no puedes acceder, visita #{resetUrl}
        p Si no solicitaste este email, ignora esto